extends layout

block content
  div(class="page-container")
    h3 #{title}
    a(href="/") &#8592 Back
    ul(class="posts-list")
      span(class="sort-links") Sort By: 
          a(href=`/author/${author}` class="sort-link") Most Recent
          span() |
          a(href=`/author/${author}/?value=votes&sort=desc` class="sort-link") Most Votes
      each post in posts 
        li(class="post" id=post.id)
          a(href=`/author/${author}/post/${post.id}` class="edit-link") Edit
          div(class="vote-container")
            form(method="post" action=`/author/${author}/post/${post.id}/upvote`)
              button(type="submit") &#8593
            p #{post.votes}
            form(method="post" action=`/author/${author}/post/${post.id}/downvote`)
              button(type="submit") &#8595
          div(class="post-message") 
            p #{post.content}
          div(class="post-info")
            p 
              |Posted by 
              a() #{post.author} 
              |at #{post.created_at}