extends layout

block content
  div(class="page-container")
    form(method="post", class="submit-container")
      textarea(name="content", cols="30", rows="10", placeholder="Enter text here...", value="")
      button(type="submit") Submit
  h3 #{title}
  ul(class="posts-list")
    each post in posts 
      li(class="post")
        a(href=`/${post.blog_id}` class="edit-link") Edit
        div(class="vote-container")
          form(method="post" action=`/${post.blog_id}/vote`)
            input(name="votes" type="hidden" value=post.votes+1)
            button(type="submit") &#8593
          p #{post.votes}
          form(method="post" action=`/${post.blog_id}/vote`)
            input(name="votes" type="hidden" value=post.votes-1)
            button(type="submit") &#8595
        div(class="post-message") 
          p #{post.content}
        div(class="post-info")
          p 
            |Posted by 
            a() #{post.author} 
            |at #{post.created_at}
  