extends layout

block content
  div(class="page-container")
    h1 Message Board
    form(method="post", class="submit-container")
      span(class="input-text-container") 
        input(type="text" class ="author-input" placeholder="Enter name..." name="author")
        |    Leave field blank to make an anonymous post
      textarea(name="content", cols="30", rows="10", placeholder="Enter text here...", value="")
      button(type="submit") Submit
    h3 #{title}
    ul(class="posts-list")
      span(class="sort-links") Sort By: 
        a(href="/" class="sort-link") Most Recent
        span() |
        a(href="/?value=votes&sort=desc" class="sort-link") Most Votes
      each post in posts 
        li(class="post" id=post.blog_id)
          a(href=`/author/${post.author}/post/${post.blog_id}` class="edit-link") Edit
          div(class="vote-container")
            form(method="post" action=`/author/${post.author}/post/${post.blog_id}/upvote`)
              button(type="submit") &#8593
            p #{post.votes}
            form(method="post" action=`/author/${post.author}/post/${post.blog_id}/downvote`)
              button(type="submit") &#8595
          div(class="post-message") 
            p #{post.content}
          div(class="post-info")
            p 
              |Posted by 
              a(href=`/author/${post.author}` class="author-link") #{post.author} 
              |at #{post.created_at}