extends layout

block content
  div(class="page-container")
    h1(class="page-heading") Message Board
    form(method="post", class="submit-container")
      div(class="input-text-container") 
        input(type="text" class ="author-input" placeholder="Enter name..." name="author")
        input(type="text" class ="author-input" placeholder="Enter subject..." name="subject")
        span Leave field blank to make an anonymous post
      textarea(name="content", cols="30", rows="5", placeholder="Enter text here...", value="")
      button(type="submit") Submit
    h3 #{title}
    span(class="sort-links") Sort By: 
        a(href="/" class="sort-link") Most Recent
        span() |
        a(href="/?value=votes&sort=desc" class="sort-link") Most Votes
    ul(class="posts-list")
      each conversation in conversations 
        li(class="post" id=conversation.id)
          a(href=`/author/${conversation.author}/post/${conversation.id}` class="edit-link") &#9998
          div(class="vote-container")
            form(method="post" action=`/author/${conversation.author}/post/${conversation.id}/upvote`)
              button(type="submit") &#8593
            if conversation.votes < 0 
              p(class="negative-votes") #{conversation.votes}
            else if conversation.votes === 0
              p #{conversation.votes}
            else 
              p(class="positive-votes") #{conversation.votes}
            form(method="post" action=`/author/${conversation.author}/post/${conversation.id}/downvote`)
              button(type="submit") &#8595
          div(class="post-message") 
            a(href=`/conversation/${conversation.id}`)
              h4=conversation.subject
            p #{conversation.content}
          div(class="post-info")
            p 
              |Posted by 
              a(href=`/author/${conversation.author}` class="author-link") #{conversation.author} 
              |at #{conversation.created_at}